<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body ng-app='contacts' layout-fill>
    <div ng-controller='mainCtrl'  layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools" >
          <h2 flex>Contacts</h2>
          <md-button class="md-icon-button" aria-label="More">
            <span>CP</span>
          </md-button>
        </div>
      </md-toolbar>
      <section layout="row" flex>
        <md-sidenav
         class="md-sidenav-left"
         md-component-id="left"
         md-is-locked-open="$mdMedia('gt-sm')"
         md-whiteframe="4">
         <md-content layout-padding ng-controller="LeftCtrl">
           <md-button ng-click="close()" class="md-primary" hide-gt-md>
             Close Sidenav Left
           </md-button>
           <md-button class='sidenav_btn'>All Contacts</md-button>
           <md-button class='sidenav_btn'>Favorites</md-button>
           <md-button class='sidenav_btn'>Family</md-button>
           <md-button class='sidenav_btn'>Friends</md-button>
           <md-button class='sidenav_btn'>Work</md-button>
         </md-content>
       </md-sidenav>
       <md-content flex layout-padding>
        <div layout="column" layout-align="center center">
          <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class='contactList' layout="row" layout-padding ng-repeat="contact in contacts">
            <md-card-title-media>
              <div class="md-media-lg card-media">
                <img ng-src="./images/{{contact.img}}" class='contactList_img' alt="">
              </div>
            </md-card-title-media>
           <div layout='column'>
             <md-card-title>
               <md-card-title-text>
                 <span class="md-headline">{{contact.firstName}} {{contact.lastName}}</span>
               </md-card-title-text>
             </md-card-title>
           </md-card>
             <md-card-content>
               <p>Phone: {{contact.phone}}</p>
               <p>Email: {{contact.email}}</p>
             </md-card-content>
           </div>
        </div>
        <md-button class="md-fab md-primary" aria-label="Use Android" ng-click="addContact($event)">
          <md-tooltip
            md-direction="top">
            Add Contact
          </md-tooltip>
          <img ng-src="./images/icons/add.svg"></img>
        </md-button>
      </section>
    </div>
    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-animate/angular-animate.min.js'></script>
    <script src='bower_components/angular-aria/angular-aria.min.js'></script>
    <script src='bower_components/angular-messages/angular-messages.min.js'></script>
    <script src='bower_components/angular-material/angular-material.min.js'></script>
    <script src='js/services/contacts.js'></script>
    <script src='js/app.js'></script>
</html>
