.sidenav_btn {
  width: 100%;
  text-align: left;
  display: block;
}

.contactList {
  width: 600px;
}
.contactList:hover {
  background: rgba(158,158,158,0.2);
  cursor: pointer;
}
.contactList_img {
  height: 150px;
  width: 200px;
}

.md-fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.contactCard {
  width: 70%;
}
.contact_imgContainer {
  height: 550px;
  width: 100%;
  overflow-y: hidden;
  background: rgba(0,0,0,.1);
}
.contact_img {
  width: 100%;
  margin: auto;
  display: block;
  background: rgba(0,0,0,.3);
}

.noUnderline {
  text-decoration: none;
}
