.sidenav_btn {
  width: 100%;
  text-align: left;
  display: block;
}

.contactList {
  width: 600px;
}
.contactList:hover {
  background: rgba(158,158,158,0.2);
  cursor: pointer;
}
.contactList_img {
  height: 150px;
  width: 200px;
}

.md-fab {
  position: fixed;
  bottom: 25px;
  right: 25px;
}


.contact_img {
  height: 550px;
  width: auto;
}
