<section layout="row" flex>
 <md-content flex layout-padding>
  <div layout="column" layout-align="center center">
    <md-card class="contactCard">
        <div class="contact_imgContainer">
          <img ng-if=contact.img ng-src="./images/{{contact.img}}"  class="md-card-image contact_img" alt="{{contact.firstName + contact.lastName}}">
          <img ng-if=!contact.img ng-src="./images/stormtrooper.jpg"  class="md-card-image contact_img" alt="{{contact.firstName + contact.lastName}}">
        </div>
        <md-card-title layout-padding layout-margin>
          <md-card-title-text>
            <span class="md-headline"><h1>{{contact.firstName}} {{contact.lastName}}</h1></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-padding layout-margin>
          <div layout="row" layout-align="space-between center">
            <h3>Phone</h3>
            <h2>
              {{contact.phone}}
            </h2>
          </div>
          <div layout="row" layout-align="space-between center">
            <h3>Email</h3>
            <h2>
              {{contact.email}}
            </h2>
          </div>
        </md-card-content>
      </md-card>
  </div>
</section>
</div>
