<md-dialog aria-label="Add contact">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Contact</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-xs="row">
          <md-input-container>
            <label>First Name</label>
            <input ng-model="contact.firstName">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="contact.lastName">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container>
            <label>Phone</label>
            <input ng-model="contact.phone">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input ng-model="contact.email">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container>
            <label>Img</label>
            <input ng-model="contact.img">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button md-primary ng-click="addContact(contact)">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
